# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
ENV/
env/
myvenv/

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# Database
*.sqlite3
*.db

# Misc
*.swp
*.swo
*.bak
*.tmp

# System files
Thumbs.db
